<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration>
  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <param name="threshold" value="debug" />
    <param name="target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%p] : %m%n" />
    </layout>
  </appender>
  <logger name="edu.dfci.cccb.mev">
    <level value="debug" />
  </logger>
  <logger name="org.reflections">
    <level value="warn" />
  </logger>
  <logger name="com.mchange">
    <level value="warn" />
  </logger>
  <logger name="org.jooq">
    <level value="warn" />
  </logger>
  <logger name="org.apache.commons.configuration">
    <level value="warn" />
  </logger>
  <root>
    <priority value="debug"></priority>
    <appender-ref ref="stdout" />
  </root>
</log4j:configuration>