
<bsmodal bindid="columnSelectionsModal-{{heatmapView.id}}" func="" header="Add Column Selections">
	<form role="form">

		<div class="form-group">
		    <label for="columnSelectionName" class="control-label">Name:</label>
		        <input id="columnSelectionName" ng-model="visualization.view.selectionParams.column.name">
		</div>
		
		<a class="btn btn-default" ng-click="clearSelections('column')">Clear Selections</a>
		<a class="btn btn-success" ng-click="addSelection('column')" data-dismiss="modal" aria-hidden="true">Add Selections</a>
		
		
	</form>
</bsmodal> 

<bsmodal bindid="rowSelectionsModal-{{heatmapView.id}}" func="" header="Add Row Selections">
	<form role="form">

		<div class="form-group">
		    <label for="rowSelectionName" class="control-label">Name:</label>
		        <input id="rowSelectionName" ng-model="visualization.view.selectionParams.row.name">
		</div>
		
		
		<a class="btn btn-default" ng-click="clearSelections('row')">Clear Selections</a>
		<a class="btn btn-success" ng-click="addSelection('row')" data-dismiss="modal" aria-hidden="true">Create Selections</a>
		
		
	</form>
</bsmodal> 

<bsmodal bindid="settingsModal-{{heatmapView.id}}" header="Heatmap Visualization Settings">
	<heatmap-Settings heatmap-view="heatmapView" current-colors="currentColors"
		available-color-groups="availableColorGroups"
		color-Edge="colorEdge"></heatmap-Settings>
	<a class="btn btn-info" ng-click="applyNewRanges()" data-dismiss="modal" aria-hidden="true">Apply New Ranges</a>
	<a class="btn btn-primary" ng-click="applyDefaultRanges()" data-dismiss="modal" aria-hidden="true" >Revert To Default</a>
</bsmodal>