<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Angular Bootstrap</title>

<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
<!-- <link href="/ngboostrap//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">  -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>


<link href="/ngboostrap/css/boot.less" rel="stylesheet/less" type="text/css"/ngboostrap/>

<link href="/ngboostrap/app/widgets/common/sidepanel/css/sidepanel.css" rel="stylesheet" type="text/css"/ngboostrap/>
<link href="/ngboostrap/vendor/angular-aside/css/angular-aside.css" rel="stylesheet" type="text/css"/ngboostrap/>

<link href="/ngboostrap/css/main.css" rel="stylesheet" type="text/css"/ngboostrap/>
<!-- <link href="css/debug.css" rel="stylesheet" type="text/css"/ngboostrap/> -->
	
<script>
  less = {
    env: "development",
    logLevel: 2,
    async: false,
    fileAsync: false,
    poll: 1000,    
    dumpLineNumbers: "comments"
//     relativeUrls: false    
  };
</script>
<script data-env="development" src="/ngboostrap/vendor/lessjs/less.min.js" type="text/javascript"></script>
<script type="text/javascript">     
//      less.watch();
</script>
<script data-main="../main.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.27/angular.js"></script> -->
<!-- <script src="../widgets.common.layout.module.js"></script> -->
<!-- <script src="vendor/bootstrap-tree/bootstrap-tree.js"></script> -->
</head>
<body id="app">
<div layout-row>
	<div layout-column>
	</div>
</div>
</body>
</html>	