# Compiled source #
**.class

# Package Files #
**.war
**.ear
**.zip

# Others #
.DS_Store
.Rhistory
phantomjsdriver.log
**.eclipse
.project
.classpath
.settings/
**.swp
**.orig
.springBeans
.tern-project
node_modules/
bower_components/

# Maven target
target/
/target
