<style>
/* Styles go here */


/* .html-back{background : #eee url("http://placehold.it/400x300/eee/666&text=HTML") no-repeat center;} */
/* .css-back{background : #eee url("http://placehold.it/400x300/eee/666&text=CSS") no-repeat center;} */
/* .js-back{ background : #eee url("http://placehold.it/400x300/eee/666&text=JS") no-repeat center;} */

.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down{
  color: #aaa;
}
</style>
<!-- <div ui-layout  > -->
<!--   <div ui-layout-container class=" html-back" ></div> -->
  
<!--   <div ui-layout-container>  -->
    <div ui-layout="{flow : 'column'}" >
      <div ui-layout-container size="40%" class=" html-back" >
      	<h3><project-label clickable="false" editable="true" project="ProjectViewVM.getProject()"></project-label></h3>	
				<project-tree node-type='Data' project="ProjectViewVM.getProject()"></project-tree>
				<project-nav project="ProjectViewVM.getProject()"></project-nav>
      </div>
      <div ui-layout-container size="60%" class=" js-back" >
		    <h3>
		<!-- 		<span toggle-sidepanel="left" ng-click='sideMenuVM.toggle()'><i class="fa" ng-class="{'fa-arrow-circle-o-right': sideMenuVM.isCollapsed(), 'fa-arrow-circle-o-left': !sideMenuVM.isCollapsed()}"></i></span> -->
				Visualizations</h3>
				<div>
				asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf
				</div>
				<div>
					101010101010101<br/>
					101010000110000<br/>
					010000101111110<br/>
					101010101010101<br/>
					101010000110000<br/>
					010000101111110<br/>
					101010101010101<br/>
					101010000110000<br/>
					010000101111110<br/>
					101010101010101<br/>
					101010000110000<br/>
					010000101111110<br/>
					101010101010101<br/>
					101010000110000<br/>
					010000101111110<br/>
					101010101010101<br/>
					101010000110000<br/>
					010000101111110<br/>
					101010101010101<br/>
					101010000110000<br/>
					010000101111110<br/>
					101010101010101<br/>
					101010000110000<br/>
					010000101111110<br/>
					101010101010101<br/>
					101010000110000<br/>
					010000101111110<br/>
				</div>		
      </div>
<!--       <div ui-layout-container class=" css-back" ></div> -->
    </div>
<!--   </div> -->

<!--   <div ui-layout-container class=" css-back" ></div> -->
<!-- </div> -->
