<div class="row" layout-row>
	
<!-- 	<layout-row> -->
<!-- 		<layout-column layout-config="{width: 4}"></layout-column> -->
<!-- 		<layout-column layout-config="{width: 4}"></layout-column> -->
<!-- 		<layout-column layout-config="{width: 4}"></layout-column> -->
<!-- 	</layout-row> -->
	
	
	<div layout-column="left" ng-class="{'col-0': layoutColumn.isClosed(), 'col-md-4': !layoutColumn.isClosed()}" content-id="content-wrapper" >		
		<layout-column-buttons class="pull-right"></layout-column-buttons>
		
		<h3><project-label clickable="false" editable="true" project="ProjectViewVM.getProject()"></project-label></h3>	
		<project-tree node-type='Data' project="ProjectViewVM.getProject()"></project-tree>
		<project-nav project="ProjectViewVM.getProject()"></project-nav>
						
	</div>
	
	<div layout-column="middle" ng-class="{'col-0': layoutcolumn.isClosed(), 'col-md-4': !layoutcolumn.isClosed()}" >
		<layout-column-buttons class="pull-right"></layout-column-buttons>		
		<h3> 		Data</h3>
		<div>
		jhjkl hjl hjkl hklj hklj hlkjh jhjkl hjl hjkl hklj hklj hlkjh jhjkl hjl hjkl hklj hklj hlkjh jhjkl hjl hjkl hklj hklj hlkjh jhjkl hjl hjkl hklj hklj hlkjh jhjkl hjl hjkl hklj hklj hlkjh jhjkl hjl hjkl hklj hklj hlkjh jhjkl hjl hjkl hklj hklj hlkjh jhjkl hjl hjkl hklj hklj hlkjh jhjkl hjl hjkl hklj hklj hlkjh		
		</div>		
	</div> 	
	
	<div layout-column="right" ng-class="{'col-md-8': layoutColumn.isClosed(), 'col-md-4': !layoutColumn.isClosed()}" id="content-wrapper">
		<layout-column-buttons class="pull-right"></layout-column-buttons>
		<h3>Visualizations</h3>
		<div>
		asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf asdf asdf asdf asdf asdf asdfasf asdfasdf asdf
		</div>
		<div>
			101010101010101<br/>
			101010000110000<br/>
			010000101111110<br/>
			101010101010101<br/>
			101010000110000<br/>
			010000101111110<br/>
			101010101010101<br/>
			101010000110000<br/>
			010000101111110<br/>
			101010101010101<br/>
			101010000110000<br/>
			010000101111110<br/>
			101010101010101<br/>
			101010000110000<br/>
			010000101111110<br/>
			101010101010101<br/>
			101010000110000<br/>
			010000101111110<br/>
			101010101010101<br/>
			101010000110000<br/>
			010000101111110<br/>
			101010101010101<br/>
			101010000110000<br/>
			010000101111110<br/>
			101010101010101<br/>
			101010000110000<br/>
			010000101111110<br/>
		</div>			
	</div>
</div>

