<div  class="results-wrapper">	
   	<div class="results-header clearfix">
   	                    				
		<h3 class="analysis-results-title">{{analysis.name}} Results</h3>
		<div class="btn-toolbar pull-right" role="toolbar" mui-yank="action-menu">
			<div class="btn-group">
	               <a class="btn btn-success " href="/dataset/{{project.dataset.datasetName}}/analysis/{{analysis.name}}?format=tsv">
	                 <i class="icon-white icon-download"></i> Download
	               </a> 
	            
	
	               <a class="btn btn-info" data-target="#selectionAdd{{analysis.name}}" data-toggle="modal">
	                 </i> Create Selections
	               </a>
	               <a class="btn btn-info" data-target="#exportDataset{{analysis.name}}" data-toggle="modal">
	                  </i> New Dataset
	            </a> 
	            <!-- disable for beta1 -->
	            <button class="btn btn-success" ng-click="applyToHeatmap()" >
	                <span>
	                  </i> View Genes on Heatmap
	                </span> 
	            </button>
            </div>
      	</div>
				      
	</div>
	<div class="results-body">									
		<div class="results-top">
			<mev-boxplot data="boxPlotGenes"></mev-boxplot>
		</div>
		<div class="results-bottom">
			<mev-results-table data="cleanData" headers="headers" ordering="pValue" on-filter="viewGenes(filteredResults)" on-paged="viewPage(pageResults)"
							   mev-save-as="{name: analysis.name}"></mev-results-table>
		</div>
	</div>
</div>	          

<bsmodal bindid="{{'selectionAdd' + analysis.name}}" func="" header="Add New Selection for {{analysis.name}}">

	<div class="row">
	
		<form-group>
			<form>
				Name: <input type="text" class="input-small" ng-model="selectionParams.name">
			<form>
		</form-group>
	
	</div>
	
	<div class="row">
	
	
		
            <a class="btn btn-success pull-right" ng-click="addSelections()" data-dismiss="modal" aria-hidden="true">
              Create Selections
            </a>         
    </div>
</bsmodal> 

<bsmodal bindid="{{'exportDataset' + analysis.name}}" func="" header="Export New Dataset for {{analysis.name}}">

	<div class="row">
	
		<form-group>
			<form>
				Name: <input type="text" class="input-small" ng-model="exportParams.name">
			<form>
		</form-group>
	
	</div>
	
	<div class="row">			
              <a class="btn btn-success pull-right" ng-click="exportSelection()" data-dismiss="modal" aria-hidden="true">
                Export New Dataset
              </a> 
          </div>
</bsmodal>
