
<div  class="results-wrapper">	
   	<div class="results-header clearfix">
   	                    				
		<h3 class="analysis-results-title">{{analysis.name}} Results</h3>
		<div class="btn-toolbar" role="toolbar" mui-yank="action-menu">
			<div class="btn-group">
            	<a class="btn" mev-analysis-start-button mev-analysis-type="analysisTypes['pca']" mev-context-level="bottom" >PCA</a>
            	<a class="btn" mev-analysis-start-button mev-analysis-type="analysisTypes['hcl']" mev-context-level="bottom">HCL</a>
            	<a class="btn" mev-analysis-start-button mev-analysis-type="analysisTypes['wgcna']" mev-context-level="bottom">WGCNA</a>
				<a class="btn btn-info" data-target="#selectionAdd{{analysis.name}}" data-toggle="modal">
				  </i> Create Selections
				</a><!-- 
				--><btn-export-selection mui-target="" mui-analysis="analysis" 
			           	mui-dataset="project.dataset" mui-items="filteredResults">
			       </btn-export-selection>
            </div>
      	</div>
				      
	</div>
	<div class="results-body">	
		<div class="results-top" id="{{'deseq-' + analysis.randomId + '-svg-holder'}}">
			<mev-boxplot data="boxPlotGenes"></mev-boxplot>
		</div>
		<div class="results-bottom">
			<mev-results-table data="analysis.results" headers="headers" ordering="pValue" on-filter="viewGenes(filteredResults)" on-paged="viewPage(pageResults)"
				mev-save-as="{name: analysis.name}"></mev-results-table>
		</div>								
	</div>
</div>

<bsmodal bindid="{{'selectionAdd' + analysis.name}}" func="" header="Add New Selection for {{analysis.name}}">

	<div class="row">
	
		<form-group>
			<form>
				Name: <input type="text" class="input-small" ng-model="selectionParams.name">
			<form>
		</form-group>
	
	</div>
		
	<div class="row">			
              <a class="btn btn-success pull-right" ng-click="addSelections()" data-dismiss="modal" aria-hidden="true">
                Create Selections
              </a> 
          </div>
</bsmodal>
