
	<div  class="results-wrapper">	
	   	<div class="results-header clearfix">
	   	    
			<div class="btn-toolbar" role="toolbar">
				<div class="btn-group">
					<button class="btn btn-success" ng-click="saveImage(analysis)">
			       		Save Dendogram
			      	</button>
	            </div>
	      	</div>
					      
		</div>
		<div class="results-body">							
			<div id="svgPlace">
				<svg opacity="1">
					<style type="text/css">
					.node circle {
					  fill: #FFFFFF;
					  stroke: steelblue;
					  stroke-width: 1.5px;
					}
					.node, text {
					  font: 10px sans-serif;
					}
					.link {
					  fill: none;
					  stroke: #CCCCCC;
					  stroke-width: 1.5px;
					}
					text {
					  fill: #000000;
					}
					</style>				
				</svg>
			</div>
		</div>
	</div>
	
    <canvas id="canvasHclTree_{{analysis.name}}" style="display: none"></canvas>	        
