<accordion-group heading="{{analysis.type}} : {{analysis.name}}" is-open="isAccordionOpen" ng-init="isAccordionOpen=false">

	<ul class="nav nav-tabs">
		<li class="active">
			<a id="annotationsTabLink" href="{{'#nmf-' + analysis.randomId + '-w-heatmap-tab'}}" 
			data-toggle="tab" 
			target="_self">Matrix W Heatmap</a>
		</li>
		<li>
			<a id="heatmapTabLink" href="{{'#nmf-' + analysis.randomId + '-h-heatmap-tab'}}" 
				data-toggle="tab" 
				target="_self">Matrix H Heatmap</a>
		</li>
		<li>
			<a id="heatmapTabLink" href="{{'#nmf-' + analysis.randomId + '-w-table-tab'}}" 
				data-toggle="tab" 
				target="_self">Matrix W Values</a>
		</li>
		<li>
			<a id="heatmapTabLink" href="{{'#nmf-' + analysis.randomId + '-h-table-tab'}}" 
				data-toggle="tab" 
				target="_self">Matrix H Values</a>
		</li>
	</ul>
	
	<div class="tab-content"id="">
		<div class="tab-pane active" id="{{'nmf-' + analysis.randomId + '-w-heatmap-tab'}}">                      
			<div  class="results-wrapper">	
				<div class="results-header clearfix">        				
					<h3 class="pull-left analysis-results-header">W-Heatmap</h3>
				</div>
				<div class="results-body" >
					<div class="nmf-heatmap-wrapper">
                    	<div class="loqui-scrollable nmf-Heatmap-Visualization" scroll-item-size="40" height="400" data="matrix.n"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="{{'nmf-' + analysis.randomId + '-h-heatmap-tab'}}">
			<div  class="results-wrapper">	
				<div class="results-header clearfix">        				
					<h3 class="pull-left analysis-results-header">H-Heatmap</h3>
				</div>
				<div class="results-body">
					<div class="nmf-heatmap-wrapper">
	                    <div class="loqui-scrollable nmf-Heatmap-Visualization" height="400" data="matrix.f"></div>
	                </div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="{{'nmf-' + analysis.randomId + '-w-table-tab'}}">
			<div  class="results-wrapper">	
				<div class="results-header clearfix">        				
					<h3 class="pull-left analysis-results-header">W-Table</h3>
				</div>
				<div class="results-body">
					W-Table
				</div>
			</div>
		</div>
		<div class="tab-pane" id="{{'nmf-' + analysis.randomId + '-h-table-tab'}}">
			<div  class="results-wrapper">	
				<div class="results-header clearfix">        				
					<h3 class="pull-left analysis-results-header">H-Table</h3>
				</div>
				<div class="results-body">
					H-Table
				</div>
			</div>
		</div>
	</div>    

</accordion-group>



<bsmodal bindid="{{'selectionAdd' + analysis.name}}" func="" header="Add New Selection for {{analysis.name}}">

	<div class="row">
	
		<form-group>
			<form>
				Name: <input type="text" class="input-small" ng-model="selectionParams.name">
			<form>
		</form-group>
	
	</div>
	
	<div class="row">
		<a class="btn btn-success pull-right" ng-click="addSelections()" data-dismiss="modal" aria-hidden="true">
		  Create Selections
		</a>
    </div>
</bsmodal>