<div  class="results-wrapper" id="tTestResultsTable" >		            	
    <div class="results-header clearfix">    	
<!--      	<div class="btn-toolbar" role="toolbar" > -->
     	<div class="btn-toolbar" role="toolbar" mui-yank="action-menu">
     		<div class="btn-group">
				<a class="btn" mev-analysis-start-button mev-analysis-type="analysisTypes['gsea']" mev-context-level="bottom">GSEA</a>
            	<a class="btn" mev-analysis-start-button mev-analysis-type="analysisTypes['pca']" mev-context-level="bottom" >PCA</a>
            	<a class="btn" mev-analysis-start-button mev-analysis-type="analysisTypes['hcl']" mev-context-level="bottom">HCL</a>
            	<a class="btn" mev-analysis-start-button mev-analysis-type="analysisTypes['wgcna']" mev-context-level="bottom">WGCNA</a>
	             <a class="btn" href="/dataset/{{project.dataset.datasetName}}/analysis/{{analysis.name}}?format=tsv">
	               <i class="icon-white icon-download"></i> Download
	             </a><a class="btn" data-target="#selectionAdd{{analysis.name}}" data-toggle="modal">
	               </i> Create Selections
	             </a><a class="btn" data-target="#exportDataset{{analysis.name}}" data-toggle="modal">
	               </i> New Dataset
	             </a><button class="btn" ng-click="applyToHeatmap()" >
	                <span>
	                  </i> View Genes on Heatmap
	                </span> 
	             </button>            
            </div>
      	</div>
				      
	</div>
	<div class="results-body">	
		<div class="results-top">
			<mev-boxplot data="boxPlotGenes"></mev-boxplot>
		</div>
		<div class="results-bottom">
			<mev-results-table data="analysis.results" headers="headers" ordering="pValue"
							   mev-save-as="{name: analysis.name}"></mev-results-table>
		</div>						
	</div>
</div>	
		
<bsmodal bindid="{{'selectionAdd' + analysis.name}}" func="" header="Add New Selection for {{analysis.name}}">

	<div class="row">
	
		<form-group>
			<form>
				Name: <input type="text" class="input-small" ng-model="selectionParams.name">
			<form>
		</form-group>
	
	</div>
	
	<div class="row">			
              <a class="btn btn-success pull-right" ng-click="addSelections()" data-dismiss="modal" aria-hidden="true">
                Create Selections
              </a> 
          </div>
</bsmodal> 

<bsmodal bindid="{{'exportDataset' + analysis.name}}" func="" header="Export New Dataset for {{analysis.name}}">

	<div class="row">
	
		<form-group>
			<form>
				Name: <input type="text" class="input-small" ng-model="exportParams.name">
			<form>
		</form-group>
	
	</div>
	
	<div class="row">			
              <a class="btn btn-success pull-right" ng-click="exportSelection()" data-dismiss="modal" aria-hidden="true">
                Export New Dataset
              </a> 
          </div>
</bsmodal>