<div  class="results-wrapper" id="tTestResultsTable" ng-hide="!tTest.results">		            	
    <div class="results-header clearfix">
     	
				      
	</div>
	<div class="results-body">							
		<results-table data="filteredResults" headers="headers" filters="filterParams"></results-table>
	</div>
</div>	
		
<bsmodal bindid="{{'selectionAdd' + tTest.name}}" func="" header="Add New Selection for {{tTest.name}}">

	<div class="row">
	
		<form-group>
			<form>
				Name: <input type="text" class="input-small" ng-model="selectionParams.name">
			<form>
		</form-group>
	
	</div>
	
	<div class="row">			
              <a class="btn btn-success pull-right" ng-click="addSelections()" data-dismiss="modal" aria-hidden="true">
                Create Selections
              </a> 
          </div>
</bsmodal> 

<bsmodal bindid="{{'exportDataset' + tTest.name}}" func="" header="Export New Dataset for {{tTest.name}}">

	<div class="row">
	
		<form-group>
			<form>
				Name: <input type="text" class="input-small" ng-model="exportParams.name">
			<form>
		</form-group>
	
	</div>
	
	<div class="row">			
              <a class="btn btn-success pull-right" ng-click="exportSelection()" data-dismiss="modal" aria-hidden="true">
                Export New Dataset
              </a> 
          </div>
</bsmodal>