	<div class="row">	
		<div class="col-md-9">
											
							<h2>Welcome to the Web MEV</h2>
						
				  		  	<p>Web MeV (Multiple Experiment Viewer) is a web tool for genomic data analysis. Web MeV is being built to meet the challenge of exploring large public genomic data set with intuitive graphical interface for analysis.  As the MeV team continues to add functionalities into the application,  we request the users to provide us with feedback on the look and feel of the Web MeV infrastructure.</p>
							
							<h4>Data Sets</h4>
							<p>Web MeV incorporates TCGA gene expression data for direct import into analysis.  We currently house level 3 gene expression array data for all 16 cancer types.  The user can create sample sets from clinical information for focused analysis.  We currently use google OpenRefine technology to allow the users to sift through TCGA.  A tutorial for openrefine can be found <a href="http://openrefine.org/" target="_blank">here</a>.  Users can also directly access GEO data sets through search interface.</p>
							<p>The user can also upload their own data of interest for analysis. </p>
							<p>Currently, log in is not required to use Web MeV</p>

							<h4>How to use</h4>
							<p>MeV is still open-source. You can download the entire stable version and run locally on your own computer, or right on your browser.</p>

							<h4>Tutorials</h4>
							<div class="row">
								<div class="col-md-6">
									<h5><a target="_blank" href="https://youtu.be/VqGpdotr-A4?list=PLSUXpXpbiLkJFbC3LOMgBacvNSdNpw0nv">RNASeq Data Import and Normalization</a></h5>
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/VqGpdotr-A4?list=PLSUXpXpbiLkJFbC3LOMgBacvNSdNpw0nv" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
								<div class="col-md-6">
									<h5><a target="_blank" href="https://youtu.be/6aK4t2vXcg4?list=PLSUXpXpbiLkJFbC3LOMgBacvNSdNpw0nv">RNASeq DGE</a></h5>
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6aK4t2vXcg4?list=PLSUXpXpbiLkJFbC3LOMgBacvNSdNpw0nv" frameborder="0" allowfullscreen></iframe>
									</div>
								</div>
							</div>


		</div><div class="col-md-3">
			  			
							<div class="panel panel-info">
							  <div class="panel-body">
							  
							  	<form action="/signin/google" method="POST">
								    <button type="submit" class="btn btn-large btn-info btn-block hp-signin">Sign In With Google</button>
								    <input type="hidden" name="scope" value="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo#email https://www.googleapis.com/auth/plus.me https://www.googleapis.com/auth/tasks https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/latitude.all.best" />
								    <input type="hidden" name="request_visible_actions" value="http://schemas.google.com/AddActivity http://schemas.google.com/BuyActivity http://schemas.google.com/CheckInActivity http://schemas.google.com/CommentActivity http://schemas.google.com/CreateActivity http://schemas.google.com/DiscoverActivity http://schemas.google.com/ListenActivity http://schemas.google.com/ReserveActivity http://schemas.google.com/ReviewActivity http://schemas.google.com/WantActivity"/>
								    <input type="hidden" name="access_type" value="offline"/>
								</form>
								
			  					<a ui-sref="root.datasets" class="btn btn-info btn-large btn-block hp-signin">Get Started</a>
									
							  </div>
							</div>
			
			
			
							
							<div class="panel panel-default">
							  <div class="panel-heading">Browse</div>
							  <div class="panel-body">

							   		<a href="http://www.tm4.org/mev.html">TM4 MeV Stand-Alone Client</a>
									<br>
							    	<a href="https://github.com/dfci-cccb/mev/archive/master.zip">Download Current Stable Version (.zip)</a>
							    	<br>
									
							  </div>
							</div>
							
							
							<div class="panel panel-default">
							  <div class="panel-heading">What's Inside</div>
							  <div class="panel-body">
							  
							  		<a href="http://www.bioconductor.org">Bioconductor</a>
									<br>

							   		<a href="http://d3js.org/">D3.js</a>
									<br>
									
							    	<a href="http://www.r-project.org/">R Statistics Language</a>
									<br>
									
									<a href="http://openrefine.org/">Open Refine</a>
									<br>
									
							  </div>
							</div>
							
						
							<div class="panel panel-default">
							  <div class="panel-body">

									<div class="media">
									  <a class="pull-left" href="https://github.com/dfci-cccb/mev">
									    <img class="media-object" src="/container/style/img/GitHub-Mark-64px.png">
									  </a>
									  <div class="media-body">
									    <h4 class="media-heading">
									    	<div class="pull-left">GitHub</div>
									    	<a class="pull-right" href="https://travis-ci.org/dfci-cccb/mev">
									    		<img src="https://camo.githubusercontent.com/57543f870eb82b9fe6d2e23cf3f22b6bb957368d/68747470733a2f2f7472617669732d63692e6f72672f646663692d636363622f6d65762e706e673f6272616e63683d6d6173746572" 
									    			alt="Build Status" 
									    			data-canonical-src="https://travis-ci.org/dfci-cccb/mev.png?branch=master" 
									    			style="max-width:100%;">
									    	</a>
									    
									    </h4> 

									    <br>
									    <p>See current developments and contribute to the project here.</p>
									    
									    <a href="https://github.com/dfci-cccb/mev/issues"><p>Have an issue or want to report a bug? Tell us about it.</p></a>
									    
									  </div>
									</div>

							  </div>
							</div>
						
		</div>

	</div>