commands:
  01mkdir:
    command: mkdir -p /mnt/data 
  02mount:
    command: if $(grep -qs "mnt/data" /proc/mounts); then echo "/mnt/data already mounted"; else mount /dev/xvdb /mnt/data; fi
option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: RootVolumeSize
    value: '50'
