container_commands:
   replace-tomcat-config:
      command: cp .ebextensions/tomcat7/server.xml /etc/tomcat7/server.xml
   replace-apache-config:
      command: cp .ebextensions/apache/elasticbeanstalk.conf /etc/httpd/conf.d/elasticbeanstalk.conf
option_settings:
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: '3598'      
Resources:
  AWSEBAutoScalingGroup: 
    Type: "AWS::AutoScaling::AutoScalingGroup" 
    Properties: 
      HealthCheckType: "ELB" 
      HealthCheckGracePeriod: "360"
      AvailabilityZones: ["us-east-1a"]
  AWSEBLoadBalancer:
    Type: "AWS::ElasticLoadBalancing::LoadBalancer"
    Properties: 
      ConnectionDrainingPolicy: { "Enabled" : "true", "Timeout": "300" }
      Listeners: [ {
         "LoadBalancerPort" : "80",
         "InstancePort" : "8080" ,
         "Protocol" : "HTTP",
         "InstanceProtocol" : "HTTP"
      } ]
      AvailabilityZones: ["us-east-1a"]
      CrossZone: "true"
