container_commands:
   replace-tomcat-config:
      command: cp .ebextensions/tomcat7/server.xml /etc/tomcat7/server.xml
   replace-apache-config:
      command: cp .ebextensions/apache/elasticbeanstalk.conf /etc/httpd/conf.d/elasticbeanstalk.conf
option_settings:
  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: '120'