<span>{{AnalysisNodeVM.getDisplayName()}} </span>
<span class="btn-group btn-group-sm pull-right"  >
	<div class="btn-group " dropdown >
		<a ng-if="AnalysisNodeVM.existsInDashboard()===false && node.nodeData.status!=='IN_PROGRESS'"
		   ng-click="AnalysisNodeVM.delete($event)">
			<span class="btn dropdown-toggle fa fa-close"></span>
		</a>
		<a ng-if="AnalysisNodeVM.isDashboardState() && node.nodeData.status!=='ERROR' && node.nodeData.status!=='IN_PROGRESS'"
		   ng-click="AnalysisNodeVM.onClick($event)" title="add to dashboard">
			<span class="btn dropdown-toggle fa fa-arrow-circle-o-right"></span>	    
		</a>
		<a ng-if="node.nodeData.status==='IN_PROGRESS'" >
			<span class="btn dropdown-toggle fa fa-spinner fa-spin"></span>
		</a>
	</div>	
</span>
