<sidemenu>

<ul id="nav">        
        <li>
            <a href="" ng-click="open($event)"> <i class="fa fa-bar-chart-o"></i><span>Statistics</span> </a>
            <ul>
                <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i><span>LIMMA</span></a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i><span>t-Test</span></a></li>
                <li><a href="#/ui/widgets"><i class="fa fa-caret-right"></i><span>Fisher Exact Test</span></a></li>
                <li><a href="#/ui/grids"><i class="fa fa-caret-right"></i><span>Wilcoxon Rank Sum</span></a></li>
                <li><a href="#/ui/icons"><i class="fa fa-caret-right"></i><span>ANOVA</span></a></li>
                <li><a href="#/ui/components"><i class="fa fa-caret-right"></i><span>DESeq</span></a></li>                
            </ul>
        <i class="fa fa-caret-right icon-has-ul"></i></li>
        <li>
            <a href="" ng-click="open($event)"><i class="fa fa-table"></i><span>Clustering</span></a>
            <ul>
                <li><a href="#/tables/static"><i class="fa fa-caret-right"></i><span>Hierarchial</span></a></li>
                <li><a href="#/tables/responsive"><i class="fa fa-caret-right"></i><span>K-Means</span></a></li>
            </ul>
        <i class="fa fa-caret-right icon-has-ul"></i></li>        
    </ul>

</sidemenu>