<div class="row">
  <div class="col-md-3">
  
  	<accordion close-others="oneAtATime">
    <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </accordion-group>
    <accordion-group heading="Dynamic Body Content">
      <p>The body of the accordion group grows to fit the contents</p>
        <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
    </accordion-group>
    <accordion-group is-open="status.open">
        <accordion-heading>
            I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
        </accordion-heading>
        This is just some content to illustrate fancy headings.
        <p class="input-group">
			    <input type="text" class="form-control" ng-model="HomeVM.projectName" />
			    <span class="input-group-btn">
			    	<button type="button" class="btn btn-primary" ng-click="HomeVM.createProject()" >Add</button>                
			    	<button type="button" class="btn btn-primary" ng-click="HomeVM.showProject()" >Show</button>
			    </span>
			  </p>	
			  <p>project selected: {{HomeVM.selectedProject.name}}</p>
    </accordion-group>
  </accordion>
 	

  
  </div>
  <div class="col-md-9">
  	<annotation-list></annotation-list>
  </div>  
</div>
