<div class="btn btn-info btn-xs" ng-click="layoutColumn.expandLeft()" ng-show="vm.canExpandLeft()">
	  	<i class="fa fa-arrow-left"></i>				  	
</div>
<div class="btn btn-info btn-xs" ng-click="layoutColumn.maximize()">
	  	<i class="fa fa-expand"></i> <!--fa-compress-->
</div>			
<div class="btn btn-info btn-xs" ng-click="layoutColumn.minimize()">
	  	<i class="fa">_</i>				  	
</div>			
<div class="btn btn-info btn-xs" ng-click="layoutColumn.expandRight()" ng-show="vm.canExpandRight()">
	  	<i class="fa fa-arrow-right"></i>				  	
</div>