#or-proj-open-link,
#export-button{
	display:none;
}

button.facet-controls-button[bind="clusterLink"]{
	display:none;
}

#app-home-button{
	display:none;
}

#project-title {
left: 0px;
height: 40px;
padding: 4px 0 0 0;
font-size: 1.6em;
position: relative;
float: left;
}


#project-name-button{
	font-size: 23.5px;
	/*line-height: 40px;*/
	font-weight: bold;
	display: none;
}
#project-permalink-button{
	display:none;
}
#close-button, #close-link{
	display: none;
}
#exportSetAndExitButton{
	display: none;
}
#or-proj-help, #or-proj-help-link{
	display: none;
}
#project-controls {
position: relative;
top: 0;
float: right;
}

#action-area-tabs {
margin: 0;
padding: 0;
padding-top: 0px;
font-size: 1.3em;
}

/* left panel links */
#logo-container {
margin: 0.5em 0 0 0;
}
#powered-by-openrefine{
	color: #777;
}
#project-links > ul {
padding: 0;
margin: 0 0;
line-height: 1em;
font-size: 80%;
display:none;
}
#project-links > ul > li{
line-height: 15px;
}

table.data-header-table{
	border-spacing: 2px;
}
table.data-header-table td.column-header, table.data-table td.column-header {
vertical-align: top;
white-space: nowrap;
cursor: pointer;
padding: 4px 5px 4px 5px;
border-bottom: none;
font-weight: bold;
}

table.data-table td div.data-table-cell-content{
	height: 100%;
	max-height: 100px;
	overflow-y: auto;
	overflow-x: hidden;	
}
table.data-table td div.data-table-cell-content span{

}

/* bootstrap */

/* navbar-fixed-top */
.navbar-fixed-top {
top: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
position: fixed;
right: 0;
left: 0;
z-index: 1030;
margin-bottom: 0;
}
.navbar {
overflow: visible;
margin-bottom: 20px;
}

/* navbar-innter */
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
-moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
box-shadow: 0 1px 10px rgba(0,0,0,.1);
}
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
padding-left: 0;
padding-right: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
border-width: 0 0 1px;
}
.navbar-inner {
min-height: 40px;
padding-left: 20px;
padding-right: 20px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
border: 1px solid #d4d4d4;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
::before
.navbar-inner:before, .navbar-inner:after {
display: table;
content: "";
line-height: 0;
}
::after
.navbar-inner:after {
clear: both;
}
.navbar-inner:before, .navbar-inner:after {
display: table;
content: "";
line-height: 0;
}

/* navbar brand */
.navbar .brand {
float: left;
display: block;
padding: 10px 20px 10px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: #777777;
text-shadow: 0 1px 0 #ffffff;
}
a {
color: #0088cc;
text-decoration: none;
}

/* nav */
.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 10px 0 0;
}
.nav {
margin-left: 0;
margin-bottom: 20px;
list-style: none;
}
/*
ul, ol {
padding: 0;
margin: 0 0 10px 25px;
}
menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
*/

/*	link in menu */
.navbar .nav>li {
float: left;
}
/*
li {
line-height: 20px;
}
*/
/* link in menu <a> */
.navbar .nav>li>a {
float: none;
padding: 10px 15px 10px;
color: #777777;
text-decoration: none;
text-shadow: 0 1px 0 #ffffff;
}
.nav>li>a {
display: block;
}
a {
color: #0088cc;
text-decoration: none;
}

#export-set {
background: -webkit-gradient(linear, left top, left bottom, from(#51a351), to(#418241));
background: -moz-linear-gradient(top, #51a351, #418241);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51a351', endColorstr='#418241');
}

#export-set-button, #export-set.button{ 
color: #ffffff;
background-color: #51a351;
}

#not-sure{
	display:none;
}

.browsing-panel-help h1{
	background:none;
}

.button.button-primary{
color: #ffffff;
background-color: #51a351;
background: -webkit-gradient(linear, left top, left bottom, from(#51a351), to(#418241));
background: -moz-linear-gradient(top, #51a351, #418241);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51a351', endColorstr='#418241');
}

#annotation-name-button{
/*	text-transform: capitalize; */
}

.create-project-ui-source-selection-tab.clipboard{
	display: none;
}