<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd" >
<log4j:configuration>
  <appender name="log" class="org.apache.log4j.RollingFileAppender">
    <param name="threshold" value="debug" />
    <param name="file" value="${log.file.location}" />
    <layout class="org.apache.log4j.EnhancedPatternLayout">
      <param name="ConversionPattern" value="${log4j.pattern}" />
    </layout>
  </appender>
  <root>
    <priority value="info"></priority>
    <appender-ref ref="log" />
  </root>
</log4j:configuration>