<div class="row">
<div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3 
Resize your viewport or check it out on your phone for an example.
</div>
div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

	<!-- Add the extra clearfix for only the required viewport -->
  <div class="clearfix visible-xs-block"></div>

  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
  <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
    
</div>

<div class="row ">
	<div class="col-xs-12 redIfDeficeGreater768">
		This text will be red if device width is >= 768, blue otherwise
	</div>
</div>
