div.accordion, div.accordion div{
	overflow: hidden;
}

.accordion-heading{
	padding: 8px 15px
}

.accordion-heading .accordion-toggle {
	padding: 0;	
}
.accordion-toggle{
	float: left;	
}
.accordion-action-button{
	float: right;
}
.selectionSetListItem div{
	float: left;
}

.selectionSetListItem{
	padding-bottom: .5em;
	border: 0 solid;	
	float: left 
}

.selectionSetColor{ 	
	width: 1em; 
	height: 1em; 
	margin: .2em .3em 0 0;
}

.selectionSetKeys{
	overflow: hidden; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	white-space: nowrap;	
}

.selectionSetDescription{
	display: inline;
	padding: 0 .5em 0 .5em;
}

.selectionSetDescription:not(:empty):BEFORE{
	content: "("
}

.selectionSetDescription:not(:empty):AFTER{
	content: ")"
}

#rightPanel .nav{
	margin-left: 0;
	margin-bottom: 0px;
	list-style: none;
}

#rightPanel ul {
padding: 0;
margin: 0 0 0px 25px;
}