div.accordion, div.accordion div{
	overflow: hidden;
}

.accordion-heading{
	padding: 8px 15px
}

.accordion-heading .accordion-toggle {
	padding: 0;	
}
.accordion-toggle{
	float: left;	
}
.accordion-action-button{
	float: right;
}
.selectionSetListItem div{
	float: left;
}

.selectionSetListItem{
	padding-bottom: .5em;
	border: 0 solid;	
	float: left 
}

.selectionSetColor{ 	
	width: 1em; 
	height: 1em; 
	margin: .2em .3em 0 0;
}

.selectionSetKeys{
	overflow: hidden; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	white-space: nowrap;	
}

.selectionSetDescription{
	display: inline;
	padding: 0 .5em 0 .5em;
}

.selectionSetDescription:not(:empty):BEFORE{
	content: "("
}

.selectionSetDescription:not(:empty):AFTER{
	content: ")"
}

.menu {
	align: center;
    background: #FFFFFF;
    margin-left: 5%;
    width: 90%;
}

div.menu#padding {
	background: #bcf;
}

.menu a {
    color:#0088cc;
    text-decoration:none;
}

.menu ul {
    padding:0;
    /* border-top:1px solid #CCC; */
    
}
.menu ul li {
    list-style:none;
    /* border-bottom:1px solid #CCC; */ 
}
.menu ul li a {
    text-indent:6px;
    display:block;
    padding:6px;
}
.menu ul li a:hover, .menu ul li.selected a  {
    color:#0088cc;
    background-color:#d6d6d6;
}
/* nested items */
.menu ul li ul {
    display:none;
}
.menu ul li.selected ul {
    display:block;
}
.menu ul li.selected ul a {
    color:#666;
    background-color:white;
    border-left:6px solid white; 
}
.menu ul li ul li {
    border-bottom:1px solid white;
}
.menu ul li ul li:first-child {
    border-top:1px solid white;
}
.menu ul li.selected ul li.selected a, .menu ul li.selected ul li a:hover {
    color:#FFF;
    background-color:#7EB0B0;
    /*border-left:6px solid #006363; */ 
}

p.lead {
	left-margin: 10px;
}

div.fixed-height {
  overflow:auto;
}

#partition {
	float: left;
	height: 100%;
	margin: 0px;
	width: 30px;

}

#leftPanel {
	width: 20%;
	float: left;
	border-top:1px solid #B2B2B2;
	border-bottom:1px solid #B2B2B2;
	box-shadow: 2px 2px 5px #888888;
}

div.accordion-heading {
	background: #bcf;
}

#rightPanel {
	float: left;
	width: 70%;
}

div#baseline {
	background: #bcf;
}

div#accent {
	background: #e3e9ff;
}

div#tab {
	border-top:1px solid #B2B2B2;
	border-right:1px solid #B2B2B2;
	border-bottom:1px solid #B2B2B2;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 2px 2px 5px #888888;
	background: #e3e9ff;
	width: 15px;
	height:30px;
	text-align: left;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
	background: #bcf;
	color: #000000; 
}
ul.nav{
	margin-bottom: 1px;
}
div#analysisnav {
	margin-bottom: 10px;
}

.nav-tabs>li>a {
	background: #e3e9ff;
	color: #000000;
}

div#tab i {
	margin-top:8px;
	margin-left:2px;
}

div#prevElement {
	background: #e3e9ff;
	height: 20px;
	border-radius: 3px;
	padding: 5px;
	margin: 7px;
	margin-left:19px;
}

div.sidepanel-title {
	margin-bottom: 7px;
	border-bottom:1px solid #888888;
}
