div.accordion, div.accordion div{
	overflow: hidden;
}

.accordion-inner {
	background:#FFFFFF;
	
}

.selectionSetListItem div{
	float: left;
}

.selectionSetListItem{
	padding-bottom: .5em;
	border: 0 solid;	
	float: left; 
	width: 100%;
}

.selectionSetColor{ 	
	width: 1em; 
	height: 1em; 
	margin: .2em .3em 0 0;
}
.selectionSetName{
	margin-right: .3em;
}

.selectionSetKeys{
	overflow: hidden; 
	text-overflow: ellipsis; 
	-o-text-overflow: ellipsis; 
	white-space: nowrap;	
}

.selectionSetDescription{
	display: inline;
	padding: 0 .5em 0 .5em;
}

.selectionSetDescription:not(:empty):BEFORE{
	content: "("
}

.selectionSetDescription:not(:empty):AFTER{
	content: ")"
}


p.lead {
	left-margin: 10px;
}

#partition {
	float: left;
	height: 90%;
	margin: 0px;
	width: 30px;

}

.heatmap-container {
	margin-top:40px;
}
/* #dataset-view-container{ */
/* 	margin-left: 15px;  */
/* 	margin-right: 15px; */
/* } */
#leftPanel {
	width: 30%;
	float: left;
	border-top:1px solid #B2B2B2;
	border-bottom:1px solid #B2B2B2;
	box-shadow: 2px 2px 5px #888888;
	background: #A3A3A3; 
	overflow:auto;
	height: 85vh;
}

#rightPanel {
	float: left;
	width: 60%;
}

div#baseline {
	background: #bcf;
}

div#accent {
	background: #e3e9ff;
}

div.tab {
	border-top:1px solid #B2B2B2;
	border-right:1px solid #B2B2B2;
	border-bottom:1px solid #B2B2B2;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	box-shadow: 2px 2px 5px #888888;
	background: #A3A3A3;
	width: 15px;
	height:30px;
	text-align: left;
}

div#analysisnav {
	margin-bottom: 10px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
	background: #FFFFFF;
	color: #A3A3A3; 
}

.nav-tabs>li>a {
	background: #A3A3A3;
	color: #FFFFFF;
}

body {
	background: #E0E0E0;
}

span#tab-icon {
	margin-top:8px;
	margin-left:0px;
	color: #fff
}

div#prevElement {
	background: #e3e9ff;
	height: 20px;
	border-radius: 3px;
	padding: 5px;
	margin: 7px;
	margin-left:19px;
}

div.sidepanel-title p{
    margin-top:8px;
    margin-right:5px;
	font-size:15px;
	color: #FFFFFF;
}

nav {
	margin-bottom: 0px;
}
.navbar {
	margin-bottom: 0px;
}

nav div.container-fluid {
	background-image: linear-gradient(to bottom, #FFF, #FFF);
	border-radius: 0px;
	box-shadow: 0 6px 7px rgba(0, 0, 0, 0.065);

}

.navbar .nav>li>a {
	color: #A0A0A0;
	padding: 15px 10px;
	font-size: 15px;

}

.navbar .brand {
	color: #A0A0A0;
	font-size: 40px;
	text-shadow: 0 0px 0 #ffffff;
}

.dropdown-menu {

	-webkit-border-radius: 0px;
	border-radius: 0px;
	padding: 0px;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);

}

div.tab-content {
	background: #FFFFFF;
	box-shadow: 2px 2px 5px #888888;
	overflow:scroll;
	height: 80vh;
}

div.well#hp-container {
	background: #FFF;
	margin-top: 10px;
	height: 90vh;
}

div#hp-side-bar {
	margin-top: 10px;
	height: 90vh;
}

div.tab-content#import {
	overflow:auto;
}

div.imports-container {

	margin-top: 60px;

}

div.uploadDrag {
	margin-top:20px;
}

input#hi {
	margin-top:10px;
	margin-right:10px;
}

input#upload-input {
    display: block;
    visibility: hidden;
    width: 0;
    hieght: 0;
  }
.mev-preset-list-wrapper a{
	text-decoration: none;
}  
/* Presets List Form  */
.mev-filter-form-wrapper{
	margin: 0 0 0 0;
	float: right;
}
form.mev-filter-form{
	margin: 0px 0px 0px 0px;
}
form.filter-form input{
	margin: 5px 0px 0px 0px;
}
.mev-table-tight th, .mev-table-tight td {
padding: 2px;
}
.mev-table-tight th a{
	color: rgb(51, 51, 51);
}

#presetsGrid.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 100%;
}
#presetsGrid .ngAggregate {
  	background-color: #fff; 
 	font-weight: bold; 
}
t-test-accordion .results-wrapper{
	padding: 0;	
	margin: 0px
	width: 100%;
}
t-test-accordion .results-header{
	padding: 0.0em 0 0.8em 0;	
	position: relative;
}

t-test-accordion .results-header h3{
	margin: 0 0 0.2em 0;
	position: absolute;
	bottom: 0.2em;	
}
t-test-accordion .panel-body{
	padding: 0.4em 0.4em;
}
t-test-accordion .form{
	margin: 0;
	margin-bottom: 0;
}
t-test-accordion .table{
	margin: 0em;
}
t-test-accordion .caret-down{
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	margin-right: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;	
}
t-test-accordion .caret-up{
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	margin-right: 2px;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-bottom: 4px solid ;	
}
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

button > a{
	color: inherit;
}
