<ul ng-class="isMenu ? 'dropdown-menu' : ''">
	<li ng-repeat="project in ProjectListVM.getProjectList()">	
		<project-label ng-if="!isMenu" clickable="true" editable="{{showEdit}}" project="project"></project-label>
		<a ng-if="isMenu" ng-click="ProjectListVM.openProject(project)">{{project.name}} </a>
	</li>
	<li ng-if="showAdd">
		<a ng-click="ProjectListVM.newProject()" >add new {{showadd}}</a>
	</li> 
	<panel-commands>
		<panel-command ng-click=""></panel-command>
		<panel-command ng-click=""></panel-command>
	</panel-commands>
</ul>