<accordion>
	<accordion-group>
			<accordion-heading>
				Datasets
			</accordion-heading>			
			<project-data-list datas="project.dataset"></project-data-list>
	</accordion-group>
	<accordion-group>
			<accordion-heading>
				Analyses				
			</accordion-heading>
			<project-analysis-list analyses="project.analysis"></project-analysis-list>					
	</accordion-group>
	<accordion-group>
			<accordion-heading>
				Dashboards
			</accordion-heading>					
	</accordion-group>
	<accordion-group>
			<accordion-heading>
				History
			</accordion-heading>					
	</accordion-group>							
</accordion>