<form role="form">

     <div class="form-group">
       <label for="deseq-test-name" class="control-label">Test Name</label>

       <input id="deseq-test-name" ng-model="params.name" placeholder="Ex: My_Analysis_1">
     </div>
     
     <div class="form-group">
       <label for="deseq-test-control" class="control-label">Control</label>

       <select id="deseq-test-control" ng-options="selection.name for selection in dataset.column.selections" ng-model="params.control"></select>
     </div>
     
     <div class="form-group">
       <label for="deseq-test-experiment" class="control-label">Experiment</label>

       <select id="deseq-test-experiment" ng-options="selection.name for selection in dataset.column.selections" ng-model="params.experiment"></select>
     </div>
     
</form> 

<p class="bg-danger" 
ng-disabled="{{!dataset.expression.hasNonIntegerValues}}" ng-show="dataset.expression.hasNonIntegerValues">
This data has non-integer values, so DESeq cannot be started. 
</p>


<a class="btn btn-success btn-block" 
    ng-click="testInit()" 
    data-dismiss="modal" 
    ng-disabled="{{dataset.expression.hasNonIntegerValues}}"
    aria-hidden="true">Analyze</a>
