<form role="form">
     <div class="form-group">
       <label for="pca-vis-name" class="control-label">Visualization Name</label>
       <input id="pca-vis-name" ng-model="params.name" placeholder="Ex: My_Analysis_1">
     </div>
     <div class="form-group">
		    <label for="pca-vis-dimension" class="control-label">Dimension</label>
		      <select id="pca-vis-dimension" ng-model="params.dimension" ng-options="dimension.name for dimension in options.dimensions">
		      </select>
		  </div>
     <div class="container-fluid">
    	<div class="md-col-12">
    		<div class="row">
    			<div class="md-col-1">
    				<select id="pca-vis-selections" 
    					ng-model="deckedSelection" 
    					ng-options="selection.name for selection in dataset.selections[params.dimension.value]">
    				</select>
    				<button type="button" class="btn btn-primary btn-sm" ng-click="addSelection(deckedSelection)">Add</button>
    			</div>
    			<div class="md-col-3">
    				<div id="pca-vis-selections" ng-repeat="selection in params.selections">
				    	{{selection}} <span class="glyphicon glyphicon-remove" ng-click="params.selections.splice($index, 1)"></span>
				    </div>
    			</div>
    		</div>
    	</div>	    
    </div>
</form> 
		
<a class="btn btn-success btn-block" ng-click="initialize()" data-dismiss="modal" aria-hidden="true">Analyze</a>