@zindex-mainmenu: @zindex-modal - 10;
@zindex-mainmenu-fixed: @zindex-mainmenu;

@zindex-sidemenu: @zindex-mainmenu - 10;
@zindex-sidemenu-container: @zindex-sidemenu;

@zindex-mainfooter: @zindex-sidemenu - 10;  

@nav-link-padding-ver: extract(@nav-link-padding, 1);
@nav-link-padding-hor: extract(@nav-link-padding, 2);

@project-tree-border-color: @brand-info;


//== Tabs
@nav-tabs-border-color:                     @brand-success;

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @brand-primary;
@nav-tabs-active-link-hover-border-color:   @gray-lighter;

//use this variable to override the default bootstrap font path
//or put the fonts into the /ui/fonts folder
//@icon-font-path: "@{vendorUrl}/bootstrap-3.3.1/fonts/";