//@import "../../../../css/import.less";
//@import "/ngboostrap/vendor/bootstrap-3.3.1/less/variables.flatly.less";
//@import "../../../../vendor/bootstrap-3.3.1/less/variables.flatly.less";
//#main-footer,


//make root column fixed
//top: 0;
//bottom: 0;
//left: 0;
//right: 0;
//position: relative;
//overflow-y: hidden;
//height: 100%;

@sidemenuOn-margin-left: @sidemenu-width ;
@sidemenuOn-margin-left-shrink: @sidemenu-width-shrink ;
@footer-height: @navbar-padding-vertical*2+@line-height-computed;
//@footer-height: @padding-base-vertical+@line-height-computed*3;
@column-header-height: 42px;
@tab-pane-padding-h: @padding-base-v / 2;

#main-wrapper {
	
	
	@media (min-width: @screen-xs-min) {
		padding-bottom: @footer-height;
	}	
	
	.fixed-header &{
			@media (min-width: @screen-sm-min){
				padding-top: @sidemenu-top + @navbar-margin-bottom;
			}		
	}	
	
	.fixed-header.fixed-footer &{
		@media (min-width: @screen-md-min){
			position: absolute;
			top: @sidemenu-top;
			bottom: @footer-height;
			left: 0;			
			right: @grid-gutter-width / 2;			
			overflow-y: auto;
			margin-left: 0;
			padding-left: 0;			
			padding-bottom: 0;
			padding-top: 0;
			> div{
				height: 100%;
				position: relative;
				div.row{
					height: 100%;
					position: relative;
					div.row{
						height: initial;
						position: initial;
						> div[class^='col-'],
						> div[class*=' col-']{
							height: initial;
							position: initial;
						}
					}								
					div[layout-column],
					> div[class^='col-'], 
					> div[class*=' col-']{						
						padding-top: @sidemenu-padding-top;
						height: 100%;
						div.column-content{
							height: 100%;
							> [ui-view]{
								height: 100%;
								> .ng-scope{
									height: 100%;
								}
							}	
							.column-header{
								height: @column-header-height;
							}
							.column-body{
								height: 100%;
							}
						}
					}
				}
								
			}
		
//			&.columnScroll{
//				> div{
//					> * > div.row{
//						> div{
//							height: 100%;
//							overflow-y: auto;		
//						}
//					}
//				}								
//			}
			&.columnContentScroll{
				overflow-y: hidden;
				
				.column-wrapper{
					//to get the tab container the right size, regardless of the header/footer
					//there are two ways: flex and absolute positioning
					//using absolute positioning because flex runs into the 
					//layou-column's min/max button, while absolute positiioning just flows under it
					//leaving flex properties for reference:
					//set the container display to flex
//					display: flex;
//					flex-direction: column;
					//absolute positioning:
					//container must be set to full height and 
					//relatively positioned
					height: 100%;
					position: relative;
					
					div.column-header{
						//flex: header should collaps down to its contents
						//hence flex-grow of 0
//						flex-grow: 0;
	//					z-index: 1;
					}
					div.column-body,			
					div.tab-content{
						//flex: content must occupy the remaining space
						//hence flex-grow of 1
//						flex-grow: 1;
//						height: 100%;						
						//using absolute positioning
						//width must be set tp 100%
						//top to the header's height
						//and pin the buttom edge to cover all in between
						position: absolute; 
						width: 100%;						
						top: @column-header-height;
						bottom: 0;
						
						max-height: 100%;
	//					padding-bottom: @column-header-height;
	//					padding-top: @column-header-height;
	//					margin-top: -@column-header-height;
	//					z-index: -1;			
						> * {												
							position: absolute;
							overflow: auto;
							height: 100%;
							width: 100%;
							padding-left: @tab-pane-padding-h;
	  						padding-right: @tab-pane-padding-h;						
						}
					}
				}
				
				div.column-body,			
				div.tab-content{					
					flex-grow: 1;
//					height: 100%;
					max-height: 100%;
					position: relative;
//					padding-bottom: @column-header-height;
//					padding-top: @column-header-height;
//					margin-top: -@column-header-height;
//					z-index: -1;			
					> * {												
						position: relative;
						overflow: auto;
						height: 100%;
						padding-left: @tab-pane-padding-h;
  						padding-right: @tab-pane-padding-h;						
					}
				}
			}
					
			&.sidemenuOn{
				left: @sidemenuOn-margin-left;
				margin-left: 0;
				padding-left: 0;
				&.shrink{
					left: @sidemenuOn-margin-left-shrink;
					margin-left: 0;
					padding-left: 0;
				}			
			}
		}				
	}
	
	&.sidemenuOn{		

		@media (min-width: @screen-sm-min){
			padding-left: @sidemenuOn-margin-left;
		}		
		@media (max-width: @screen-xs-max) {
			margin-left: -(@grid-gutter-width / 2);			
		}
//		transition: padding .5s ease;
		
		&.shrink{
			@media (min-width: @screen-sm-min){
				padding-left: @sidemenuOn-margin-left-shrink;			
			}			
			@media (max-width: @screen-xs-max) {
				margin-left: -(@grid-gutter-width / 2);
			}
//			transition: padding .5s ease;
		}
	}
	
//	>div.col-md-12 {
//		overflow-y: scoll;
//	}
}

#main-footer{
	position: absolute;	
	bottom: 0;
	z-index: @zindex-mainfooter;	
	width: 100%;		
	.fixed-footer & {
		@media (min-width: @screen-xs-min){
			height: @footer-height;
			position: fixed;
			bottom: 0;
		}
	}
	
	nav{
		background: @navbar-default-bg;
		color: @navbar-default-color;
		margin-bottom: 0;
		li{
			span{
				padding: @navbar-padding-vertical @navbar-padding-vertical;
				display: block;
			}
			span:first-child{
				padding-left: 0;
			}
		}
	}
	
	&.sidemenuOn{
//		height: 52px;
//		padding: 15px 13px 0;
//		margin-left: @sidemenuOn-margin-left;
//		transition: padding .5s ease;
		
		@media (min-width: @screen-sm-min){
//			padding-left: @sidemenuOn-margin-left - (@grid-gutter-width / 2);
			padding-left: @sidemenuOn-margin-left;			
			margin-top: -@footer-height;
		}
		@media (max-width: @screen-xs-max){
			.responsive();
			width: inherit;
		}
//		border-top: 1px solid #CECECE;
//		background: #2a2725;
//		width: 100%;
		
		&.shrink{
//			transition: padding .5s ease;
			@media (min-width: @screen-sm-min){
				padding-left: @sidemenuOn-margin-left-shrink;
//				padding-left: @sidemenuOn-margin-left-shrink - (@grid-gutter-width / 2);
			}
//			padding-left: @sidemenuOn-margin-left-shrink;
		}
	}
}

html{
	position: relative;
}
html, body{
//	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;	
}

.outermost-wrapper{
	.container-fluid();
//	min-height: 100%;
	>div{
		>nav{
			z-index: @zindex-mainmenu;
		}
	}
}

.col-0,
.col-lg-0,
.col-md-0,
.col-sm-0,
.col-xs-0 {
    width: 0px;
    float: left;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    min-height: 1px;
    height: 1px;
    opacity: 0;    
    border: 0 !important;
}
.column-config-menu{
	position: relative;
	z-index: 100;
//	margin-right: -(@grid-gutter-width / 2) +  @sidemenu-padding-top;
	.btn{
		margin-left: 2px;
		> i{
			padding: 3px;
		}
	}	
	.btn.btn-xs{
		padding: 3px 5px;
	}
	.btn.btn-sm{
		padding: 8px 9px;
	}
}

.wrapper-config-menu{
	position: absolute; 
	top: 0;
	right: 0; 	
	z-index: 1000000;
}
.layout-column,
div[layout-column]{
	transition: width .3s ease;
}
div[layout-column='left']{
	background-image: url('/container/images/background/dottedPattern.png');
//	border-right: 1px solid @project-tree-border-color;
	.column-config-menu{
		margin-right: -(@padding-base-horizontal);
	}	
}

#main-wrapper {
	.fixed-header.fixed-footer &{		
		
		div[ui-layout-container],		
		.ui-layout-container{
//			transition: all 0.2s ease-out;
//			transition-property: left, width; 
			> *:first-child{
				padding-top: @sidemenu-padding-top;
			}
			> *{
				margin: 0 15px;
				display: block;		
			}	
		}
		
		.ui-splitbar{
//			transition: all 0.2s ease-out;
//			transition-property: left, width;
			background-color: @btn-info-bg;
			a{
				&, span{
					margin: 15px 0;
					color: @btn-info-color;					
				}
			}
		}

	}
}

.ui-layout-transition{
//	transition: all 1.5s ease-out;
	transition-property: left, width;
}

.ui-layout-container + .ui-layout-transition,
.ui-layout-transition + .ui-layout-container{
//	transition: all 1.5s ease-out;
	transition-property: left, width;
} 

//div[ui-layout]{
//	&.stretch{
//		position: relative;
//	  top: 0;
//	  left: 0;
//	  right: 0;
//	  bottom: 0;
//	}
//	
//	> * {
//		display: inline-block;
//	}
//	
//	div[ui-layout-container]{
//	&.stretch{
//		position: static;
//		clear: none;
//		display: inline-block;
////		right: initial;
////	  bottom: initial;
//	}
//}
//}


.row {
	> div[class^="col-"]{
		> :first-child{
			margin-top: 0px;
//			margin-right: -10px;
			
		} 
	}
}

.navbar-center{
	position: absolute;
  	left: 50%
}
.page-loading-container{
	float: right;
	&.page-loading,
	.page-loading{
		font-size: @font-size-small;		
		color: @brand-info;
		
		.state-welcome &,
		.state-datasets &{
			color: @brand-warning;			
		}		
	}
	
	.mainmenu &{
		&.page-loading,
		.page-loading{
			font-size: @font-size-base;
			color: @brand-warning;
		}
	}				
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}

.fa-spin-custom, .glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


#presetMgr{
	height: 100%;
	.mev-preset-list-wrapper{
		height: 100%;
		#presetsGrid{
			height: 100%;
			margin-left: -10px;
		}
	}
}

.nav{
	&.nav-tabs{
		border-bottom: 1px solid @brand-success;
		> li {
				&.active {
					> a {
						border: 1px solid @brand-success;
						border-bottom: 1px solid @body-bg;
					}
				}
				&:hover{
					> a {
						background-color: @body-bg;
//						text-decoration: underline;
					}
				}
			}
	}
}