<div class="outermost-wrapper " ng-class="RootCtrl.getCss()">

	<main-menu>
		<span ng-if="$state.current.data && $state.current.data.headerUrl" ng-include src="$state.current.data.headerUrl"></span>
	</main-menu>
	
	<aside ng-if="$state.current.data && $state.current.data.sidemenuUrl" id="sidemenu-container" ng-class="{shrink: RootCtrl.isSideMenuCollapse()}">	
			<div ng-include src="$state.current.data.sidemenuUrl"></div>
			<div class="aside-footer clearfix">			
					<div ng-click='toggleSide()' toggle-sidemenu class="pull-right">
						<i ng-class="{'fa fa-toggle-left': !RootCtrl.isSideMenuCollapse(), 'fa fa-toggle-right': RootCtrl.isSideMenuCollapse()}"></i>
					</div>			
			</div>		
	</aside>
	
	<div class="row" id="main-wrapper" ng-class="{'sidemenuOn': RootCtrl.isSideMenu(), 'shrink': RootCtrl.isSideMenuCollapse(), columnScroll: RootCtrl.isColumnScroll(), columnContentScroll: RootCtrl.isColumnContentScroll()}">
		<div class="col-md-12" >			
			<ui-view id="ui-view"></ui-view>				
		</div>
	</div>
	
	<div class="row" id="main-footer" ng-class="{'sidemenuOn': RootCtrl.isSideMenu(), 'shrink': RootCtrl.isSideMenuCollapse()}">
	<!-- 	<div class="col-md-12"> -->
		<div ng-if="$state.current.data && $state.current.data.footerUrl" class="col-md-12" ng-include src="$state.current.data.footerUrl">			
		</div>
		<nav ng-if="!$state.current.data || ($state.current.data && !$state.current.data.footerUrl)" class="navbar navbar-default">
			<div class="container-fluid">			
				<ul class="nav navbar-nav">
					<li><span>mev</span></li>					
				</ul>
				<ul class="nav navbar-nav page-loading-container">
					<li><span class="page-loading hidden"><i class="fa fa-spinner fa-spin"></i> please wait, loading...</span></li>					
				</ul>
				
			</div>
		</nav>
	<!-- 	</div> -->
	</div>
	
</div>


<!-- <al-constraint -->
<!--     element="sidemenu-container" -->
<!--     attribute="height" -->
<!--     relation="equal" -->
<!--     to-element="main-wrapper" -->
<!--     to-attribute="height" -->
<!--     multiplier="1"     -->
<!--     priority="100"></al-constraint> -->
