<sidemenu>

<accordion>
	<accordion-group>
		<accordion-heading><i ng-click="open($event)" class="fa fa-bar-chart"></i> <span >Statistics</span></accordion-heading>	
		
		<ul class="list-group">
      <li class="list-group-item"><a href="http://fb.com/moinakbarali">LIMMA</a></li>
      <li class="list-group-item"><a href="http://fb.com/moinakbarali">t-Test</a></li>
      <li class="list-group-item"><a href="http://fb.com/moinakbarali">Fisher Exact Test</a></li>
      <li class="list-group-item"><a href="http://fb.com/moinakbarali">Wilcoxon Rank Sum</a></li>
      <li class="list-group-item"><a href="http://fb.com/moinakbarali">ANOVA</a></li>      
      <li class="list-group-item"><a href="http://fb.com/moinakbarali">DESeq</a></li>
    </ul>
		
	</accordion-group> 
	
	<accordion-group>
		<accordion-heading><i class="fa fa-sitemap"></i> <span>Clustering</span></accordion-heading>
		<ul class="list-group">
      <li class="list-group-item"><a href="http://fb.com/moinakbarali">Hierarchial</a></li>
      <li class="list-group-item"><a href="http://fb.com/moinakbarali">K-Means</a></li>      
    </ul>				
	</accordion-group>
	
</accordion>

</sidemenu>

