<sidemenu>

<ul id="nav">
        <li><a href="" ng-click="open($event)"> <i class="fa fa-bar-chart-o"><span class="icon-bg bg-danger"></span></i><span data-i18n="Dashboard">Statistics</span> </a></li>
        <li>
            <a href="" ng-click="open($event)"><i class="fa fa-magic"><span class="icon-bg bg-orange"></span></i><span data-i18n="UI Kit">UI Kit</span></a>
            <ul>
                <li><a href="#/ui/buttons"><i class="fa fa-caret-right"></i><span data-i18n="Buttons">Buttons</span></a></li>
                <li><a href="#/ui/typography"><i class="fa fa-caret-right"></i><span data-i18n="Typography">Typography</span></a></li>
                <li><a href="#/ui/widgets"><i class="fa fa-caret-right"></i><span data-i18n="Widgets">Widgets</span> <span class="badge badge-success">12</span></a></li>
                <li><a href="#/ui/grids"><i class="fa fa-caret-right"></i><span data-i18n="Grids">Grids</span></a></li>
                <li><a href="#/ui/icons"><i class="fa fa-caret-right"></i><span data-i18n="Icons">Icons</span></a></li>
                <li><a href="#/ui/components"><i class="fa fa-caret-right"></i><span data-i18n="Components">Components</span> <span class="badge badge-info">15</span></a></li>
                <li><a href="#/ui/timeline"><i class="fa fa-caret-right"></i><span data-i18n="Timeline">Timeline</span></a></li>
                <li><a href="#/ui/pricing-tables"><i class="fa fa-caret-right"></i><span data-i18n="Pricing Tables">Pricing Tables</span></a></li>
            </ul>
        <i class="fa fa-caret-right icon-has-ul"></i></li>
        <li>
            <a href="#/table"><i class="fa fa-table"><span class="icon-bg bg-warning"></span></i><span data-i18n="Tables">Tables</span></a>
            <ul>
                <li><a href="#/tables/static"><i class="fa fa-caret-right"></i><span data-i18n="Static Tables">Static Tables</span></a></li>
                <li><a href="#/tables/responsive"><i class="fa fa-caret-right"></i><span data-i18n="Responsive Tables">Responsive Tables</span></a></li>
                <li><a href="#/tables/dynamic"><i class="fa fa-caret-right"></i><span data-i18n="Dynamic Tables">Dynamic Tables</span></a></li>
            </ul>
        <i class="fa fa-caret-right icon-has-ul"></i></li>
        <li>
            <a href="#/form"><i class="fa fa-pencil"><span class="icon-bg bg-success"></span></i><span data-i18n="Forms">Forms</span></a>
            <ul class="sub-nav">
                <li><a href="#/forms/elements"><i class="fa fa-caret-right"></i><span data-i18n="Form Elements">Form Elements</span> <span class="badge badge-warning">13</span></a></li>
                <li><a href="#/forms/validation"><i class="fa fa-caret-right"></i><span data-i18n="Form Validation">Form Validation</span></a></li>
                <li><a href="#/forms/wizard"><i class="fa fa-caret-right"></i><span data-i18n="Form Wizard">Form Wizard</span></a></li>
                <li><a href="#/forms/layouts"><i class="fa fa-caret-right"></i><span data-i18n="Form Layouts">Form Layouts</span></a></li>
            </ul>
        <i class="fa fa-caret-right icon-has-ul"></i></li>
        <li class="nav-task active">
            <a href="#/tasks">
                <i class="fa fa-tasks"><span class="icon-bg bg-info"></span></i><span data-i18n="Tasks">Tasks</span>
                <span class="badge badge-danger main-badge ng-binding ng-hide" data-ng-show="taskRemainingCount > 0">0</span>
            </a>
        </li>
        <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"><span class="icon-bg bg-primary-light"></span></i><span data-i18n="Charts">Charts</span></a>
            <ul>
                <li><a href="#/charts/morris"><i class="fa fa-caret-right"></i>Morris <span data-i18n="Charts">Charts</span></a></li>
                <li><a href="#/charts/flot"><i class="fa fa-caret-right"></i>Flot <span data-i18n="Charts">Charts</span></a></li>
                <li><a href="#/charts/others"><i class="fa fa-caret-right"></i>Other <span data-i18n="Charts">Charts</span></a></li>
            </ul>
        <i class="fa fa-caret-right icon-has-ul"></i></li>
        <li>
            <a href="#/mail"><i class="fa fa-envelope-o"><span class="icon-bg bg-primary"></span></i><span data-i18n="Mail">Mail</span></a>
            <ul>
                <li><a href="#/mail/inbox"><i class="fa fa-caret-right"></i><span data-i18n="Inbox">Inbox</span></a></li>
                <li><a href="#/mail/compose"><i class="fa fa-caret-right"></i><span data-i18n="Compose">Compose</span></a></li>
                <li><a href="#/mail/single"><i class="fa fa-caret-right"></i><span data-i18n="Single Mail">Single Mail</span></a></li>
            </ul>
        <i class="fa fa-caret-right icon-has-ul"></i></li>
        <li>
            <a href="#/pages"><i class="fa fa-file-text-o"><span class="icon-bg bg-violet"></span></i><span data-i18n="Pages">Pages</span></a>
            <ul>
                <li><a href="#/pages/signin"><i class="fa fa-caret-right"></i><span data-i18n="Sign in">Sign in</span></a></li>
                <li><a href="#/pages/signup"><i class="fa fa-caret-right"></i><span data-i18n="Sign Up">Sign Up</span></a></li>
                <li><a href="#/pages/lock-screen"><i class="fa fa-caret-right"></i><span data-i18n="Lock Screen">Lock Screen</span></a></li>
                <li><a href="#/pages/profile"><i class="fa fa-caret-right"></i><span data-i18n="User Profile">User Profile</span></a></li>
                <li><a href="#/pages/404"><i class="fa fa-caret-right"></i>404 <span data-i18n="Error">Error</span></a></li>
                <li><a href="#/pages/500"><i class="fa fa-caret-right"></i>500 <span data-i18n="Error">Error</span></a></li>
                <li><a href="#/pages/blank"><i class="fa fa-caret-right"></i><span data-i18n="Blank Page">Blank Page</span></a></li>
                <!-- <li><a href="#/pages/invoice"><i class="fa fa-caret-right"></i><span data-i18n="Invoice"></span></a></li> -->
            </ul>
        <i class="fa fa-caret-right icon-has-ul"></i></li>
    </ul>

</sidemenu>