
<div class="table-responsive">
<table class="table">
<tr ng-repeat="(key, value) in parameters" ng-switch="key">
<td>{{key}}</td>
<td ng-switch-when="data"><project-data-dimension dimension="value.dataref.rows"></project-data-dimension></td>
<td ng-switch-when="control"><project-data-dimension dimension="value.dataref[value.dataref.dimension]"></project-data-dimension></td>
<td ng-switch-when="experiment"><project-data-dimension dimension="value.dataref[value.dataref.dimension]"></project-data-dimension></td>
<td ng-switch-default>{{value}}</td>
</tr>
</table>
</div>