<div class="row">
<nav class="navbar navbar-default mainmenu" role="navigation" >
  <div class="container-fluid">  	
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed=!navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>            
      <a class="navbar-brand" ui-sref=".welcome"><img class="logo" src="/container/images/favicon/favicon-32x32@2xt.png"/><span>
      <span style="display:none">{{$state.current.name}}</span></span></a>
    </div>
				
		
		<ul class="nav navbar-nav">
			<ui-breadcrumbs template-url="/container/vendor/mbAngularUtils/breadcrumbs/origBreadcrumbs.tpl.html" displayname-property="displayName" abstract-proxy-property="breadcrumbProxy" style="display: block;"></ui-breadcrumbs>	
<!-- 			<dashboard-menu></dashboard-menu> -->			
<!-- 			<list-menu  label="Projects"> -->
<!-- 				<project-list is-menu="true" show-edit="false" show-add="false"></project-list> -->
<!-- 			</list-menu>			 -->
		</ul>
        	
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" collapse="navbarCollapsed">
      <ul class="nav navbar-nav navbar-right">

        <li ng-transclude></li>
      	<li>
			<a href="https://docs.google.com/forms/d/1oFbzyaMDw8dksDkNsY7f7ZJNibnC2GBjlgY2RXt5660/viewform" target="_new" class="btn btn-small btn-primary pull-right"></span>Feedback <span class="glyphicon glyphicon-star" style="color:gold;"></a>
    	</li>
    	<li>
    		<a class="pull-right github" href="https://github.com/dfci-cccb/mev/issues" title="report issues on github"><i class="fa fa-github"></i></a>    			
    	</li>
              
<!--         <li class="dropdown"> -->
<!--             <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> -->
<!--                 <i class="fa fa-gear"></i>                 -->
<!--             </a> -->
<!--             <div class="dropdown-menu with-arrow panel panel-default" ng-click="$event.stopPropagation()"> -->
<!--                 <div class="panel-heading"> -->
<!--                     Layout -->
<!--                 </div> -->
<!--                 <ul class="list-group"> -->
<!--                     <li class="list-group-item">                        	 -->
<!--                     	<div class="checkbox"><label class="checkbox"><input type="checkbox" ng-model="settings.sidemenu.shrink">Shrink</label></div> -->
<!--                     	<div class="checkbox"><label class="checkbox"><input type="checkbox" ng-click="toggleFixedHeader()" ng-model="settings.header.fixed">Fixed Header</label></div> -->
<!--                     	<div class="checkbox"><label class="checkbox"><input type="checkbox" ng-click="toggleFixedFooter()" ng-model="settings.footer.fixed">Fixed Footer</label></div> -->
<!--                     	<div class="checkbox"><label class="checkbox"><input type="checkbox" ng-click="toggleColumnScroll()" ng-model="settings.columnScroll">Column Scrollbar</label></div> -->
<!--                     	<div class="checkbox"><label class="checkbox"><input type="checkbox" ng-click="toggleColumnContentScroll()" ng-model="settings.columnContentScroll">Column Content Scrollbar</label></div> -->
                    	
<!-- 										</li> -->
<!-- 										<li class="list-group-item"><a ui-sref="{layout: undefined}">Default Layout</a></li> -->
<!--         						<li class="list-group-item"><a ui-sref="{layout: 'uilayout'}">Ui Layout</a></li> -->
<!--         						<li class="list-group-item"><a ui-sref="{layout: '3cols'}">3sols Layout</a></li> -->
<!--         						<li class="list-group-item"><a ng-click="RootCtrl.toggleLeft()">Toggle Left</a></li> -->
<!--                 </ul>             -->
<!--             </div> -->
<!--         </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-center">
	   		<li>
				<span class="navbar-text page-loading-container page-loading hidden"><i class="fa fa-spinner fa-spin"></i> loading...</span>
			</li>
	   	</ul>
      
<!--       <form class="navbar-form navbar-right" role="search"> -->
<!--         <div class="form-group"> -->
<!--           <input type="text" class="form-control" placeholder="Search"> -->
<!--         </div> -->
<!--         <button type="submit" class="btn btn-default">Submit</button>         -->
<!--       </form>       -->
    </div>    
    <!-- /.navbar-collapse -->    
  </div>
  <!-- /.container-fluid -->
</nav>
</div>
